@font-face {
  src: url("../fonts/Poppins-bold.woff2") format("woff2");
  font-family: "poppins";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-family: "poppins";
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 100vw;
  margin: 0 auto;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #4f4f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

img {
  width: 100%;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  height: 6rem;
  padding: 1rem;
}

.button {
  background: transparent;
  border: 0;
}

.nav__ul {
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: #4f4f4f;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 100;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.header--background {
  background: rgba(247, 249, 237, 0.5647058824);
}

.header__logo {
  width: 6rem;
  margin: 0 auto;
}

.header__open {
  width: 2.5rem;
}


.header__close {
  width: 1.6rem;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}

.header .nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 5rem 1fr;
  grid-template-rows: 5rem 1fr;
  position: fixed;
  inset: 0;
  background: #fcfcfc;
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .nav>*:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.header .nav>*:nth-child(2) {
  grid-row: 2;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.header .nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3rem;
}

.header .nav__link {
  font-size: 1.5rem;
  font-weight: bold;
  color: #527561;
}

.header .nav--show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.header .nav__container-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
}

.header .nav__container-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.wrap {
  overflow: hidden;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30rem;
}

.content {
  position: relative;
  max-width: 80%;
  height: 100vh;
  padding: 1rem;
  margin: 0 auto;
}

.redes-sociales {
  position: static;
  bottom: 0;
  width: 100%;
}

.redes-sociales__texto {
  color: black;
}

.avisos-landing {
  text-align: center;
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.avisos-landing__copyright {
  color: #4f4f4f;
  font-weight: bold;
}

.avisos-landing__links-links {
  color: #4f4f4f;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.avisos-landing__links-links:hover {
  color: #527561;
}

.avisos-landing__span-span {
  color: black;
}



.section-avisos {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 8rem;
}

.section-avisos__titulo {
  color: #527561;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.section-avisos__texto {
  line-height: 1.2;
  text-align: justify;
  margin-bottom: 2rem;
}



/* SECCION CONTENEDOR DE ITEMS */

.contenedor {
  padding: 1rem;
  margin: auto;
}

.contenedor .contenedor-items {
  margin-top: 5rem;
  margin-bottom: -7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  /* width: 60%; */
  width: 100%;
  transition: .3s;
}

.contenedor .contenedor-items .item {
  max-width: 100%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  transition: .3s;
  -webkit-box-shadow: 11px 13px 13px -11px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 11px 13px 13px -11px rgba(0, 0, 0, 0.4);
  box-shadow: 11px 13px 13px -11px rgba(0, 0, 0, 0.4);
}

.contenedor .contenedor-items .item:hover {
  box-shadow: 0 0 10px #666;
  scale: 1.05;
}

.contenedor .contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.contenedor .contenedor-items .item .id-item {
  display: none;
}

.contenedor .contenedor-items .item .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.contenedor .contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: #74A982;
  color: #fcfcfc;
  padding: 0.5rem 2rem;
  border-radius: 20rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}

.contenedor .contenedor-items .item .boton-item:hover {
  background: #527561;

}

.footer {
  background: #527561;
  padding: 1rem;
}

.footer__texto {
  text-align: center;
  color: #fcfcfc;
}

.footer__pie-pagina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  color: #fcfcfc;
}

.footer__redSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2.5rem;
  width: 10rem;
}

.hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hover:hover {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.avisos {
  text-align: center;
  margin-top: 2rem;
  color: #fcfcfc;
}

.avisos__copy {
  margin-bottom: 0.5rem;
}

.avisos__link {
  text-decoration: none;
  color: #fcfcfc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.avisos__link:hover {
  color: #4f4f4f;
}


/* seccion carrito */
.carrito {
  border: 1px solid #666;
  width: 100%;
  margin-top: 10rem;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
  position: sticky !important;
  top: 0;
  transition: .3s;
  /* Estilos para ocultar */
  margin-right: -100%;
  opacity: 0;
}

.carrito .header-carrito {
  background-color: #527561;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.carrito .carrito-item {
  display: flex;

  align-items: center;
  /* justify-content: space-between; */
  position: relative;
  border-bottom: 1px solid #666;
  padding: 20px;
}

.carrito .carrito-item img {
  margin-right: 20px;
  width: 20% !important;

}

.carrito .carrito-item .carrito-item-titulo {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad {
  display: inline-block;
  margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad {
  border: none;
  font-size: 18px;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
  font-size: 18px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #fcfcff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  display: block;
  background: #527561;
  z-index: 20;
}

.carrito .carrito-item .btn-eliminar i {
  pointer-events: none;
}

.carrito-total {
  background-color: #f3f3f3;
  padding: 30px;
}

.carrito-total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.carrito-total .btn-pagar {
  display: block;
  width: 100%;
  border: none;
  background: #527561;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}

.carrito-total .btn-pagar:hover {
  scale: 1.05;
}